name: Go CI
on:
  push:
    branches: [ main ]
jobs:
  build:
    name: Build
    strategy:
      matrix:
        go-version: [1.15.x, 1.16.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{matrix.go-version}}
    - name: Check out code
      uses: actions/checkout@v2
    - name: Test
      run: |
        export GO111MODULE="on"
        export GOPATH=""
        cd go
        go test -v ./...
      shell: bash
